bin/Debug/Kontext.vshost.exe.manifest
obj/Debug/Kontext.Forms.AboutWindow.resources
obj/Debug/Kontext.Forms.EditKontext.resources
obj/Debug/Kontext.Forms.Kontexts.resources
obj/Debug/Kontext.Properties.Resources.resources
obj/Debug/Kontext.WindowKontext.PreviewWindow.resources
obj/Debug/Kontext.csproj.FileListAbsolute.txt
obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
